<!DOCTYPE html>
<html lang="es">

  <head>
    <title><%= @app_name %> :: Sitio en construcción</title>
    <%%= tag :meta, :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" %>
    <%%= tag :meta, :lang => :es, :name => :description, :content => variables[:descripcion] %>
    <%%= tag :meta, :lang => :es, :name => :keywords, :content => variables[:keywords] %>
    <%%= tag :meta, :lang => :es, :name => :author, :content => "Xaver" %>
    <%%= stylesheet_link_tag 'xaver/en-construccion', :media => :all %>
    <%%= favicon_link_tag %>
    <%%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <%%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <%%= image_tag 'xaver/sitio-en-construccion.png' %>
      <h1>www.<%%= APP_CONFIG[:dominio].presence || request.host %></h1>
    </div>

    <footer id="footer">
      <%%= link_to '', 'http://www.xaver.com.ar', :title => 'Xaver soluciones + tecnología', :class => :xaver, :target => :_blank %>
    </footer>

  </body>
</html>