<% atributo = :imagen if atributo.nil? %>
<% if f.object.try(atributo).present? %>
  <span class="imagen">
    <%= f.input "remove_#{atributo}", :as => :boolean, :label => "Eliminar #{atributo}" %>
    <%= imagen f.object.try(atributo), "50x35", "#c" %>
  </span>
<% else %>
  <%= f.input atributo, :as => :file %>
<% end %>