<div class="page-header">
  <nav class="pull-right">
    <%= boton_new Usuario %>
  </nav>
  <h1>Usuarios</h1>
</div>

<%= content_tag :table, :id => nombre_tabla(Usuario), :class => ["table", "table-condensed", "table-hover"] do %>
  <%= thead :username, :email, :rol %>
  <%= content_tag :tbody, render(@usuarios) %>
<% end %>