<!DOCTYPE html>
<html>
  <head>
    <title><%%= variables[:title] %> :: <%= @app_name.capitalize %></title>
    <%%= tag :meta, :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" %>
    <%%= tag :meta, :name => :description, :content => variables[:description] %>
    <%%= tag :meta, :name => :keywords, :content => variables[:keywords] %>
    <%%= tag :meta, :lang => :es, :name => :author, :content => "Xaver" %>
    <%%= tag :meta, :lang => :es, :name => :language, :content => :es %>

    <%%= stylesheet_link_tag :application, :media => :all %>
    <%%= javascript_include_tag :application %>
    <%%= favicon_link_tag %>
    <%%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <%%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
  </head>

  <body>

    <%%= yield %>

    <%= link_to "", 'http://www.xaver.com.ar', :target => :_blank, :title => "Xaver soluciones + tecnología", :class => :xaver %>
  </body>
</html>
